<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.diptasoft.banglauktisomogro">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.diptasoft.banglauktisomogro.AppIdea"></activity>
        <activity android:name="com.diptasoft.banglauktisomogro.Carier" />
        <activity android:name="com.diptasoft.banglauktisomogro.AmarSomporke" />
        <activity android:name="com.diptasoft.banglauktisomogro.PoetUktiInfo" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/appid" />

        <activity android:name="com.diptasoft.banglauktisomogro.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>